<!DOCTYPE html>
<html lang="en" class="page-home">
<head>
    <meta charset="utf-8">
    <title>歪秀商城-购物车</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="imagemode" content="force">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="歪秀商城、歪1手机，歪2手机。">
    <meta name="keywords" content="歪秀商城,歪秀手机,歪1手机,歪2手机,歪3手机,歪4手机">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="touch-icon.png">

    <link rel="stylesheet" type="text/css" href="themes/css/base.css">
    <link rel="stylesheet" type="text/css" href="themes/css/home.css">

    <script type="text/javascript" src="themes/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="themes/js/banner-he.js"></script>
    <script type="text/javascript" src="themes/js/banner.js"></script>

</head>
<body>

<header class="ui-border-tb" style="padding-bottom:1px;" >
    <div class="ui-c-header clearfix">
        <div class="fl" style="width:5%">
            <i class="ui-icon-return"></i>
        </div>
        <div class="fl ui-c-cart">
            <h2>购物车</h2>
        </div>
    </div>
</header>


<section>
    <div class="ui-p-centre">
        <ul>
            <li class="ui-border-b">
                <div class="ui-p-box clearfix">
                    <div class="fl ui-p-choice">
                        <i class="ui-icon-success ui-icon-cu"></i>
                    </div>
                    <div class="ui-p-product fl">
                        <a href="#">
                            <img src="themes/img/pd/pd1.jpg">
                        </a>
                    </div>
                    <div class="ui-p-title">
                        <h3>Apple iPhone 6s</h3>
                        <p class="ui-t">玫瑰金色 移动联通电信4G手机</p>
                        <p>4788元</p>
                        <div class="ui-p-click ">
                            <div class="ui-c1">-</div>
                            <div class="ui-c2">1</div>
                            <div class="ui-c3">+</div>
                        </div>
                    </div>
                    <div class="fr ui-p-delete">
                        <i class="ui-icon-delete"></i>
                    </div>
                </div>
            </li>
            <li class="ui-border-b">
                <div class="ui-p-box clearfix">
                    <div class="fl ui-p-choice">
                        <i class="ui-icon-success ui-icon-cu"></i>
                    </div>
                    <div class="ui-p-product fl">
                        <a href="#">
                            <img src="themes/img/pd/pd2.jpg">
                        </a>
                    </div>
                    <div class="ui-p-title">
                        <h3>Apple iPhone 6s</h3>
                        <p class="ui-t">玫瑰金色 移动联通电信4G手机</p>
                        <p>4788元</p>
                        <div class="ui-p-click ">
                            <div class="ui-c1">-</div>
                            <div class="ui-c2">1</div>
                            <div class="ui-c3">+</div>
                        </div>
                    </div>
                    <div class="fr ui-p-delete">
                        <i class="ui-icon-delete"></i>
                    </div>
                </div>
            </li>
            <li class="ui-border-b">
                <div class="ui-p-box clearfix">
                    <div class="fl ui-p-choice">
                        <i class="ui-icon-success"></i>
                    </div>
                    <div class="ui-p-product fl">
                        <a href="#">
                            <img src="themes/img/pd/pd3.jpg">
                        </a>
                    </div>
                    <div class="ui-p-title">
                        <h3>Apple iPhone 6s</h3>
                        <p class="ui-t">玫瑰金色 移动联通电信4G手机</p>
                        <p>4788元</p>
                        <div class="ui-p-click ">
                            <div class="ui-c1">-</div>
                            <div class="ui-c2">1</div>
                            <div class="ui-c3">+</div>
                        </div>
                    </div>
                    <div class="fr ui-p-delete">
                        <i class="ui-icon-delete"></i>
                    </div>
                </div>
            </li>
            <li class="ui-border-b">
                <div class="ui-p-box clearfix">
                    <div class="fl ui-p-choice">
                        <i class="ui-icon-success"></i>
                    </div>
                    <div class="ui-p-product fl">
                        <a href="#">
                            <img src="themes/img/pd/pd4.jpg">
                        </a>
                    </div>
                    <div class="ui-p-title">
                        <h3>Apple iPhone 6s</h3>
                        <p class="ui-t">玫瑰金色 移动联通电信4G手机</p>
                        <p>4788元</p>
                        <div class="ui-p-click ">
                            <div class="ui-c1">-</div>
                            <div class="ui-c2">1</div>
                            <div class="ui-c3">+</div>
                        </div>
                    </div>
                    <div class="fr ui-p-delete">
                        <i class="ui-icon-delete"></i>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</section>

<footer class="ui-c-bottom ui-border-t">
    <div class="ui-bottom-submit  ">
        <div class="price"><span class="is">共4件 金额：</span><br><strong>213.80</strong> <span class="is">元</span></div>
        <div class="btn"><a class="" href="#"><span>继续购物</span></a></div>
        <div class="btn"><a class="ui-button" href="#"><span>去结算</span></a></div>
    </div>
</footer>
</body>
</html>