<!DOCTYPE html>
<html lang="" class="page-home">
<head>
    <meta charset="utf-8">
    <title>歪秀商城-搜索</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="imagemode" content="force">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="歪秀商城、歪1手机，歪2手机。">
    <meta name="keywords" content="歪秀商城,歪秀手机,歪1手机,歪2手机,歪3手机,歪4手机">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="touch-icon.png">

    <link rel="stylesheet" type="text/css" href="themes/css/base.css">
    <link rel="stylesheet" type="text/css" href="themes/css/home.css">

    <script type="text/javascript" src="themes/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="themes/js/banner-he.js"></script>
    <script type="text/javascript" src="themes/js/banner.js"></script>

</head>
<body>


<header id="ui-search-header">
    <div class="ui-s-search clearfix ui-border-tb">
        <div class="fl ui-s-box">
            <form>
                <input type="text" placeholder="商品名称" class="ui-border-tb">
            </form>
        </div>
        <div class="fl" style="width:10%">
            <i class="ui-icon-search" style="font-size:42px; line-height:32px; color:#999;"></i>
        </div>
    </div>
    <div style="padding:.2rem;">
        <ul class="ui-list-default">
            <li class="top"><span>港版iphone7</span></li>
            <li class="top"><span>港版iphone7</span></li>
            <li class="top"><span>Smartisan M1</span></li>
            <li><span>皇帝的新装</span></li>
            <li><span>笔记本</span></li>
            <li><span>智能手环</span></li>
            <li><span>时尚运动</span></li>
            <li><span>黑科技</span></li>
            <li><span>华为p7</span></li>
            <li><span>三星</span></li>
            <li><span>小米</span></li>
            <li><span>oppo</span></li>
        </ul>
    </div>

</header>


<div class="" style="height:3.4rem; width:100%; overflow:hidden;"></div>
<footer id="" class="ui-footer ui-border-t">
    <ul class="clearfix">
        <li>
            <a href="index.html"><i class="ui-icon-home"></i><p>首页</p></a>
        </li>
        <li>
            <a href="search.html" class="on"><i class="ui-icon-search" style="font-size:42px;"></i><p>搜索</p></a>
        </li>

        <li>
            <a href="cart.html"><i class="ui-icon-cart"></i><p>购物车</p></a>
        </li>
        <li>
            <a href="user.html"><i class="ui-icon-personal"></i><p>我的</p></a>
        </li>
    </ul>
</footer>


</body>
</html>